<!DOCTYPE html>
<html ng-app="mileageApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A mileage recording app">
    <meta name="author" content="Jonathan Bowman">
    <base href="/mileage/">
    <title>Mileage record</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <!--
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="assets/bootstrap-darkly-3.3.0_font-awesome-4.2.0.min.css">
    <link rel="stylesheet" href="assets/main.css">

  
</head>
<body ng-app="mileageApp">

<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="isNavCollapsed=true" ng-click="isNavCollapsed=!isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-navicon fa-lg"></span>
            </button>
            <a class="navbar-brand" ui-sref="main.new">Mileage record</a>
        </div>
        <div class="collapse navbar-collapse" collapse="isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="config"><i class="fa fa-cog"></i> Config</a></li>
                <li><a ui-sref="about"><i class="fa fa-question-circle"></i> About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ui-view></div>
</div>

<!-- script src="//cdn.jsdelivr.net/g/angularjs@1.3,angular.bootstrap@0.1(ui-bootstrap-tpls.min.js),angular.ui-router@0.2"></script -->
<script src="assets/angular-1.3.5_ui-bootstrap-tpls-0.12.0_ui-router-0.2.13.min.js"></script>
<script src="assets/main.js"></script>
</body>
</html>
