<form novalidate id="trip_form" name="trip_form" role="form">
    <input id="id" type="hidden" name="id" ng-model="trip.id">
    <div class="row">
        <div class="col-xs-12 form-group" ng-class="{ 'has-error': trip_form.description.$touched && trip_form.description.$invalid }">
            <label class="control-label" for="description">Description</label>
            <input autofocus class="form-control" id="description" type="text" name="description" ng-model="trip.description" required>
        </div>
        <div class="col-xs-4 col-sm-2 form-group" ng-class="{ 'has-error': trip_form.start.$touched && trip_form.start.$invalid }">
            <label class="control-label" for="start">Starting</label>
            <input class="form-control" id="start" type="number" name="start" ng-model="trip.start" required>
        </div> 
        <div class="col-xs-4 col-sm-2 form-group" ng-class="{ 'has-error': trip_form.end.$touched && (trip_form.end.$invalid || trip.end <= trip.start) }">
            <label class="control-label" for="end">Ending</label>
            <input class="form-control" id="end" type="number" name="end" ng-model="trip.end">
        </div>


        <div class="col-xs-5 col-sm-3 form-group" ng-class="{ 'has-error': trip_form.date.$touched && trip_form.date.$invalid }">
            <label class="control-label" for="date">Date</label>
            <input class="form-control" id="date" type="date" name="date" ng-model="trip.date" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-block btn-default" ng-click="save()" ng-disabled="trip_form.$invalid">Enter</button>
        </div>
        <div class="col-xs-12 col-sm-3" ng-show="trip.id || trip.id === 0">
            <button class="btn btn-block btn-default" ui-sref="main.new">New</button>
        </div>
        <div class="col-xs-12 col-sm-3" ng-show="trip.id || trip.id === 0">
            <button class="btn btn-block btn-default" ui-sref="main.delete">Delete</button>
        </div>
    </div>

</form>
