<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody class="triplist">
    <tr ui-sref="main.edit({id: {{::trip.id}}})" ng-repeat="trip in list | orderBy:'date'">
        <td>
            {{ trip.date }}
        </td>
        <td>{{ trip.description }}</td>
        <td>{{ trip.start }}</td>
        <td>{{ trip.end }}</td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-danger" ui-sref="main.delete({month: {{::month}}})">
    <i class="fa fa-trash fa-lg"></i>
    &nbsp;
    Delete all of {{ ::month | parseDate | date:'MMMM yyyy' }}
</button>
