<div class="row row-offcanvas row-offcanvas-right" ng-class="{'active': isOffcanvasActive}" ng-init="isOffcanvasActive=false">
    <button id="sidebar_button" type="button" class="btn btn-success btn-sm visible-xs pull-right" ng-click="isOffcanvasActive=!isOffcanvasActive">
        <i class="fa" ng-class="{'fa-caret-left': !isOffcanvasActive, 'fa-caret-right': isOffcanvasActive}"></i>&nbsp;
        <i class="fa fa-calendar fa-lg"></i>
    </button>
    <div class="col-xs-12 col-sm-9">
        <div ui-view></div>
        <div class="exit-off-canvas" ng-class="{'active': isOffcanvasActive}" ng-click="isOffcanvasActive=false">
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="month in list|filterMonths"  ui-sref="main.list({month:'{{ ::month }}'})" ui-sref-active="active">{{ ::month | parseDate | date:'MMMM yyyy' }}</a>
        </div>
    </div>
</div>


